.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header_navbar {
    display: flex;
    justify-content: end;
}

.NavButton {
    padding: 10px 25px;
    border-radius: 8px;
    margin-left: 15px;
    background-color: rgb(64, 133, 243);
    color: white;
    border: none !important;
    cursor: pointer;

}

.NavButton:hover {
    box-shadow: 0px 0px 10px 1px rgba(64, 133, 243, 0.252);
}

.header h2 {
    font-size: 42px;
    font-weight: 500;
    color: #000000;
}

.header p {
    font-size: 16px;
    font-weight: 500;
}

.profile_cont {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.profile_cont p {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.profile_img {
    border-radius: 50px;
}

.header_cont_right {
    width: 20%;
}


.header_cont_left {
    width: 80%;
}

@media only screen and (max-width:650px) {
    .header h2 {
        font-size: 25px;

    }

    .NavButton {
        padding: 10px !important;
        font-size: 12px;
    }

    .header_navbar {
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        width: 80%;
    }

    .profile_cont p {
        display: none;
    }
}