.Signin-container {
    height: 100vh;
}

.signin-left-container {
    background-color: var(--Ligth-orange);
}

.sign-in-form-container {
    border-radius: 40px;
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
    width: 85% !important;

}

.phone-number-input-box {
    border: 1px solid #B9B9B9;
    border-radius: 9px;
    height: 57px;
    padding: 10px 25px !important;
    /* padding: 30px !important; */
}

.phone-number-input {
    border: none !important;
    border-radius: 9px;
    padding: 10px !important;
    height: 100%;
    width: 100%;
}

.phone-number-input:focus-visible {
    outline: none !important;
}

.empty-div {
    height: 130px !important;
}

.otp-input {
    height: 57px;
    width: 57px;
    padding: 10px;
    border-radius: 9px;
    border: 1px solid #B9B9B9;
}

.otp-error-msg {
    width: auto !important;
    padding: 9px 87px !important;
}

.green-clr {
    background-color: #1BCD8D2B;
}

.green-clr p {
    color: #108F62;
}

.red-clr {
    background-color: #D249492B;
}

.red-clr p {
    color: #CD2121;
}





















@media only screen and (max-width:800px) {
    .sign-in-form-container {
        margin-top: 100px !important;
    }

    .otp-error-msg {
        margin-top: 50px !important;
        margin-bottom: -50px !important;
    }
}

@media only screen and (max-width:650px) {
    .signin-left-container {
        background-color: transparent !important;
    }

    .sign-in-form-container {
        margin-top: -190px !important;
    }

    .sign-in-form-container {
        border-radius: 20px;
    }

    .phone-number-input-box {
        padding: 10px 10px !important;
        height: 47px;
    }

    .otp-error-msg {
        margin-top: -300px !important;
        margin-bottom: 172px !important;
    }

    .otp-input {
        height: 45px;
        width: 45px;
    }
}